.third {
    width: 100%;
    height: 200vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background: radial-gradient(ellipse at top, #2a1b35 0%, #090a0f 100%); */
    background: radial-gradient(ellipse at top, #4228554a 0%, #272f57a6 100%);
    align-items: center;
}

.gallery {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.profile-card {
    position: relative;
    width: 100%;
    height: 200vh;
    padding: 2em 1em;
    overflow: hidden;
    border-radius: 0.7em;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;

    /* background: radial-gradient(ellipse at bottom, #2a1b35 0%, #090a0f 100%); */
}

.profile-card .profile-img {
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translatex(-50%);
    width: 11em;
    aspect-ratio: 0.6666666667;
    object-fit: cover;
    border-radius: 1rem;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.marathon {
    font-size: 45px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #674dfe, #ff4b8a);
    -webkit-background-clip: text;
    color: transparent;
}



.third a:hover {
    text-decoration: none;
}


.tut {
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    

}

.tut .outer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    left: -55px;
    height: 100%;

   
}

.tut .cardbox {
    width: 140px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    justify-content: space-between;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay));

    z-index: 90;
    /* box-shadow: h-offset v-offset blur spread color; */
}





.tut .cardbox:last-child {
    animation-delay: calc(-3s * var(--delay));
}



.tut .cardbox .img {
    height: 33em;
    width: 30em;
    position: absolute;
    top: 1.5em;
    border-radius: 1.2em;
    box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


.tut .cardbox .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.outer:hover .cardbox {
    animation-play-state: paused;
}




.tut .outer-container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}










@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(130%) scale(0.3);
    }

    5%,
    20% {
        opacity: 0.2;
        transform: translateX(130%) scale(0.7);
        pointer-events: none;
    }

    25%,
    40% {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0%) scale(1);
    }

    45%,
    60% {
        opacity: 0.2;
        transform: translateX(-130%) scale(0.7);
        pointer-events: none;
    }

    65%,
    100% {
        opacity: 0;
        transform: translateX(-130%) scale(0.3);
    }
}



@keyframes animatesecond {
    0% {
        opacity: 0;
        transform: translateX(100%) scale(0.5);
        /* Move to the right initially */
    }

    5%,
    20% {
        opacity: 0.4;
        transform: translateX(100%) scale(0.7);
        pointer-events: none;
    }

    25%,
    40% {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0%) scale(1);
        /* Back to original position */
    }

    45%,
    60% {
        opacity: 0.4;
        transform: translateX(-100%) scale(0.7);
        /* Move to the right */
        pointer-events: none;
    }

    65%,
    100% {
        opacity: 0;
        transform: translateX(-100%) scale(0.5);
        /* Move to the right further */
    }
}





@media (max-width: 468px) {

    .third,
    .profile-card {
        height: 200vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tut {
        height: 100vh;
        flex-direction: column;

    }


    .tut .outer {
        left: 0px;
    }

    .tut .cardbox .img {

        height: 23em;
        width: 16em;
    }

    .tut .cardbox {
        animation: animatesecond 15s linear infinite;
        animation-delay: calc(3s * var(--delay));
    }


}