@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Carlito:ital,wght@1,400;1,700&family=Foldit&family=Noto+Serif:ital@1&family=Poppins:wght@700&family=Roboto+Slab:wght@500&display=swap');


#main {
    width: 100%;
    height: 100vh;
    z-index: 97;
    display: flex;
    justify-content: center;
    align-items: center;
}



.zestlogo {
    width: 60%;
    z-index: 98;
    position: absolute;
}

.tagline {
    left: 684px;
    font-size: 3.5rem;
    font-weight: 600;
    top: 377px;
}

.zestlogo img {
    width: 100%;
    object-fit: cover;
}



.back {
    width: 100%;
    height: 100vh;
}

.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.top {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}



.hero {
    position: absolute;
    bottom: -10%;
    left: 2%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    padding: 10px;

}

.heroleft {
    min-width: 50%;
}

.elem {
    margin-top: 10px;
    height:50px;
    position: relative;
    overflow: hidden;

}

.text-box:nth-child(1) {
    top: 0;
}

.text-box {
    position: absolute;
    line-height: 0.8;
    top: 100%;
    left: 0%;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Carlito', sans-serif;
    font-family: 'Foldit', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 5rem;
    
}

button {
    pointer-events: all;
    padding: 0.5vw 1vw;
    font-size: 2vw;
    margin-top: 3vw;
    font-family: "kajiro";

}

.heroright p:nth-child(3) {
    margin-bottom: 100px;
}