.social-media-box {

    position: fixed;
    bottom: 20px;
    /* Adjust as needed */
    right: 50px;
    /* position: relative; */
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;



    /* flex-direction: column; */
}

.social-media-box .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    transition: 1.25s;
    left: 460px;
}

.social-media-box.active .toggle {
    transform: rotate(360deg);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}

.social-media-box li {
    /* position: absolute; */
    left: 0;
    list-style: none;
    transition: 0.5s;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 240px;
    scale: 0;
    transition-delay: calc(0.05s * var(--i));



    margin: 10px;
    position: static;
    transform: none;
    transition-delay: 0.3s;
}

.social-media-box.active li {
    scale: 1;
    transition-delay: 0.5s;
}

.social-media-box li a {
    position: relative;
    display: flex;
    transform: rotate(calc(360deg/-8 * var(--i)));
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.75em;
    color: var(--clr);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.social-media-box.active li a {
    transform: none;
}

.social-media-box li:hover a {
    font-size: 2.5em;
    box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}




@media (max-width: 468px) {


    .social-media-box {
        right: 90px;

    }

    .social-media-box .toggle,
    .social-media-box li a {
        width: 35px;
        height: 35px;
    }

    .social-media-box .toggle {
        left: 190px;
        position: absolute;
    }

    .social-media-box li {
        margin: 3px;
        transform-origin: 140px;
    }




}